[submodule "blog/themes/ananke"]
	path = blog/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "blog/themes/LoveIt"]
	path = blog/themes/LoveIt
	url = git@github.com:dillonzq/LoveIt.git
